{% extends 'layouts/base.html' %}

{% block content %} 
<div class="bg-dark shadow rounded p-3 w-100 w-lg-50">
    <h1 class="rounded bg-dark p-3 text-light">Estado de compra</h1>
</div>
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-success text-white">
            <h4 class="mb-0">Comprobante de Pago</h4>
        </div>
        <div class="card-body">
            <p class="mb-2"><strong>ID de la Orden del Comerciante:</strong> {{ merchant_order_id }}</p>
            <p class="mb-2"><strong>ID del Pago:</strong> {{ payment_id }}</p>
            <p class="mb-2"><strong>Estado:</strong> {{ status }}</p>
            <p class="mb-2"><strong>Tipo de Pago:</strong> {{ payment_type }}</p>
        </div>
    </div>
</div>


{% endblock%}  